body {
    Font-family: 'Roboto', sans-serif;
    background: black;
}

h2 {
    /* line-height: 1.2; */
    font-style: normal;
    font-size: 20px;
    font-weight: lighter;
    color: #212529;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.p {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.text-blanco {
    color: white;
}

.bg-transparente {
    background-color: transparent;
}

.bg-celeste {
    background-color: #338aa0;
}

.centrado {
    text-align: center;
}

footer {
    margin-top: 30px;
    color: #ffffff;
}

.icono-footer {
    display: inline-block;
    padding-top: 5px;
    margin-right: 12px;
    font-size: 8px;
    margin-bottom: 5px;
}




.ocultar-sm {
    display: none;
    /* Ocultar en dispositivos pequeños */
}