body {
    Font-family: 'Roboto', sans-serif;
    background: black;
}

h2 {
    /* line-height: 1.2; */
    font-style: normal;
    font-size: 20px;
    font-weight: lighter;
    color: #212529;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.p {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.text-blanco {
    color: white;
}

.bg-transparente {
    background-color: transparent;
}

.bg-celeste {
    background-color: #338aa0;
}

.centrado {
    text-align: center;
}

footer {
    margin-top: 30px;
    color: #ffffff;
}

.icono-footer {
    display: inline-block;
    padding-top: 5px;
    margin-right: 12px;
    font-size: 8px;
    margin-bottom: 5px;
}

.card {
    margin: 0 20px;
    background-color: #328998;
}

.card-group {
    border: 1px black;
    margin-bottom: 100px;
}

.card-text {
    font-size: 12pt;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

.card-img-top {
    padding: 2px;
}













@media only screen and (max-width: 576px) {

    .ocultar-sm {
        display: none;
        /* Ocultar en dispositivos pequeños */
    }

}